.my-button {
	padding: 10px;
	color: blue;
	border: 1px solid blue;
	border-radius: 5px;
	background-color: black;
	cursor: pointer;
	transition: background-color .3s ease;
}

.my-button:hover {
    background-color: cornflowerblue;
}

.my-button_size_large {
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	padding: 20px 40px;
}
.my-button_size_medium {
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
	padding: 16px 40px;
}
.my-button_size_small {
	font-size: 14px;
	line-height: 1.43;
	font-weight: normal;
	padding: 10px 32px;
}